.mt1 {
	margin-top: 5px;
}

.ml1 {
	margin-left: 5px;
}

.mt2 {
	margin-top: 10px;
}

.ml2 {
	margin-left: 10px;
}

.mt3 {
	margin-top: 15px;
}

.ml3 {
	margin-left: 15px;
}

.card-links {
	font-size: 13px;
	font-weight: 500;
}

.mb1 {
	margin-bottom: 5px;
}

.mb2 {
	margin-bottom: 10px; 
}

.mb3 {
	margin-bottom: 15px;
}